.coantainerVisit{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 2rem;
align-items: center;
flex-direction: column;
height: 92vh;
/* overflow: hidden; */
}
.headerVisit {
    width: 88%;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 2rem;
}
.spanNbVisit{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.SearchVisit{
    display: flex;
    justify-content: end;
}
.BTNremoveVisit{
    background-color: #C74545 !important;
    /* margin-left: 10px; */
    color: black !important;
    width: 20px;
}
.BTNEditVisit{
    background-color: #455CC7 !important;
    /* margin-left: 10px; */
    color: white !important;
}
.inputVisit{
    margin-top: 30px ;
}